/* Garante que html e body ocupem toda a altura e largura da tela */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
  
  /* Estilo do contêiner principal da página */
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Preenche toda a altura da viewport */
    width: 100vw; /* Preenche toda a largura da viewport */
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  /* Estilo do conteúdo centralizado */
  .content {
    text-align: center;
    background-color: #1a1e25;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo do título */
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Estilo para as opções (links) */
  .options {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  /* Estilo dos links de opção */
  .option-link {
    text-decoration: none;
    background-color: #345062;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    border: 2px solid black;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.2rem;
  }
  
  /* Efeito ao passar o mouse sobre os links */
  .option-link:hover {
    background-color: #293a4b;
    transform: scale(1.05);
  }
